@model WebApplication2.Models.User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index2</title>
</head>
<body>
    <div> 
        @Html.DisplayFor(model => model.Name);
        @Html.DisplayFor(model => model.Password);
    </div>
</body>
</html>
